{% extends 'base.html' %}

{% block content %}
<h4>Submit another Avenger's phone number</h4>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.hero_name.label }}
            {{ form.hero_name(class="form-control", placeholder="Captain America") }}
        </fieldset>

        <fieldset>
            {{ form.legal_name.label }}
            {{ form.legal_name(class="form-control", placeholder="Steve Rogers") }}
        </fieldset>

        <fieldset>
            {{ form.skills.label }}
            {{ form.skills(class="form-control", placeholder="Strenth, leadership, combat.") }}
        </fieldset>

        <fieldset>
            {{ form.num.label }}
            {{ form.num(class="form-control", placeholder="555-555-5555") }}
        </fieldset>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock content %}