{% extends 'base.html' %}

{% block content %}

<div class="container">
    <p>New contact info? No problem!</p>
    <hr>
    <p>Edit any Avenger's name or phone number here.</p>
    <form action="" method="post">
        {{ update_contact.hidden_tag() }}
        <div class="form-group">
            <fieldset>
                {{ update_contact.avenger_name.label }}
                {{ update_contact.avenger_name(class="form-control", placeholder = "Update Avenger's Name") }}
            </fieldset>
            <br>
            <p>and/or</p>
            <fieldset>
                {{ update_contact.phone_num.label }}
                {{ update_contact.phone_num(class="form-control", placeholder="Update Their Phone Number") }}
            </fieldset>
            <br>
            {{ update_contact.submit(class="btn btn-primary") }}
        </div>
    </form>

</div>

{% endblock content %}