{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('phonebook') }}"><button class="btn btn-primary">Back to Phonebook</button></a>

<div class="container">
    <h2>Here's everything we've got:</h2>

    <h3>Avenger: {{ num.avenger_name }}</h3>
    <h3>Phone number: {{ num.phone_num }}</h3>

    <blockquote>Contact created on: {{ num.date_created }}</blockquote>

    <a href="{{ url_for('num_update', num_id = num.id ) }}"><button class="btn btn-primary">Update</button></a>


</div>
{% endblock content %}