{% extends 'base.html' %}

{% block content %}

<h1>Submit a new number</h1>

<form action="" method="POST">
    <div class="form-group">
        <fieldset>
            {{ num.avenger_name.label }}
            {{ num.avenger_name(class="form-control", placeholder="Enter Avenger's Name") }}
        </fieldset>

        <fieldset>
            {{ num.phone_num.label }}
            {{ num.phone_num(class="form-control", placeholder="Enter Their Phone Number") }}
        </fieldset>
        {{ num.submit(class="btn btn-success") }}
    </div>
</form>

{% endblock content %}